[user]
	name = Zoltan Szeredi
	email = zoltan.szeredi@3pillarglobal.com
[core]
	editor = emacs
	excludesfile = ~/.gitignore_global
	pager = 
[color]
	diff = always
	status = always
	branch = always
	interactive = always