xterm*termName:        xterm-256color
xterm*loginShell:      true
xterm*geometry:        80x50
xterm*scrollBar:       off
xterm*internalBorder:  25
xterm*metaSendsEscape: true
xterm*backarrowKey:    false
xterm*faceName:        Bitstream Vera Sans Mono
xterm*faceSize:        10
xterm*background:      AntiqueWhite
xterm*foreground:      Black
