xterm*loginShell:      true
xterm*geometr:         80x50
xterm*scrollBar:       off
xterm*borderWidth:     0
xterm*metaSendsEscape: true
xterm*faceName:	       Bitstream Vera Sans Mono
xterm*faceSize:	       10

